# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================


# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files custom
.project
Dipoles_quad_all.ipynb
Dipoles_seq.ipynb
Dipoles_seq_new.ipynb

#Directories
.ipynb_checkpoints/
.git/